.discover-options {
    border-left: rgb(30, 35, 45) solid 1px;
    color: rgb(128, 137, 150);
    padding-top: 30px;

    background-image: linear-gradient(to right, rgb(35, 41, 51), rgb(45, 51, 61));
}

.discover-options .options-inner {
    width: 80%;
}

.discover-options .option {
    padding-top: 20px;
    width: 100%;
}

.discover-options .option .option-input {
    width: 100%;
    height: 25px;
}

.option .select-year {
    display: flex;
}

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: end;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}
.rating span:hover {
    cursor: pointer;
}

.rating .selected-star:before {
    content: "\2605";
    color: gold;
    position: absolute;
}
