* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.auto-margin {
  margin: auto;
}


.app {
  display: flex;
  height: 100%;
  background-color: rgb(35, 41, 51);
  color: white;
}
.app .discover {
  flex-grow: 1;
  width: 85%;
}
.app .discover-options {
  width: 15%;
  min-width: 200px;
}

select, input {
  background-color: rgb(35, 41, 51);
  color: white;
  border-color: rgb(128, 137, 150);
}