.discover-content {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}